<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.brahammar.cachePresistencyTest"
    versionCode = "10"
    version     = "1.0.0" >

  <!-- versionCode is optional and Android only -->

  <name>PhoneGap Presistency Test</name>

  <description>
    Loads of documentation.
  </description>

  <author href="https://www.mjukis.com" email="ebrahammar@gmail.com">
    Erik Bråhammar
  </author>

</widget>